{% extends "base.html" %}

{% set active_page = "help" %}

{% block content %}
<div class="container">
    <h2>What is MarkerMiner?</h2>
    <p class="lead">MarkerMiner is a bioinformatic workflow and web application that was designed to identify putatively orthologous single-copy nuclear loci present in two or more user-provided angiosperm transcriptome assemblies (e.g. <a href="http://onekp.com">OneKP<span class="glyphicon glyphicon-new-window"></span></a> transcriptome assemblies). MarkerMiner outputs detailed tabular results and sequence alignments for downstream assessments of phylogenetic utility, locus selection and intron-exon boundary prediction, and primer or probe development for targeted sequencing (see <a href="" target="_blank">Godden and Jordon-Thaden et al. 2012&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>).</a>
    <br /><br />
    View the user manual <a href="http://goo.gl/WmhJFL" target="_blank">here</a>.
</div>
{% endblock %}
