{% extends "base.html" %}

{% set active_page = "help" %}

{% block content %}
<div class="container">
    <h2>What is MarkerMiner?</h2>
    <p class="lead">
      Targeted sequencing using next-generation sequencing (NGS) platforms
      offers enormous potential for plant systematics by enabling economical
      acquisition of multilocus data sets that can resolve difficult
      phylogenetic problems. However, because discovery of single-copy nuclear
      (SCN) loci from NGS data requires both bioinformatics skills and access
      to high-performance computing resources, the application of NGS data has
      been limited.
      <br /><br />
      MarkerMiner is an easy-to-use, fully automated, open-access bioinformatic
      workflow and application for effective discovery of SCN loci in flowering
      plants angiosperms(flowering plants), from user-provided angiosperm transcriptome
      assemblies (e.g. <a href="http://onekp.com" target="_blank">OneKP
      transcriptome assemblies</a>). It can be run locally or via the web,
      and its tabular and alignment outputs facilitate efficient downstream
      assessments of phylogenetic utility, locus selection, intron-exon boundary
      prediction, and primer or probe development.
    <br /><br />
    View the user manual <a href="https://bitbucket.org/srikarchamala/markerminer" target="_blank">here</a>.
    <br /><br />
    If you use MarkerMiner in your research, please cite the following manuscript:<br /><br />
    Chamala, S., Garci­a, N., Godden, G. T., Krishnakumar, V., Jordon-Thaden, I. E.,
    De Smet, R., Barbazuk, W. B., Soltis, D. E., and Soltis, P. S. (2015)
    <a href="http://www.bioone.org/doi/full/10.3732/apps.1400115" target="_blank">
      MarkerMiner 1.0: A new application for phylogenetic marker development
    using angiosperm transcriptomes</a>, <em>Applications in Plant Sciences</em>,
    <strong>3(4)</strong>: 1400115.
    <br /><br />
    <strong>Questions/Comments/Suggestions:</strong><br />
    Please contact Srikar Chamala - <a href="mailto:srikarchamala@gmail.com">srikarchamala@gmail.com</a>
</div>
{% endblock %}
