{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}
<div class="container">
  <h1>MarkerMiner Job Submission Webapp</h1>

  <h2>Run MarkerMiner</h2>
  {{ wtf.quick_form(form, enctype='multipart/form-data', button_map={'submit_button': 'primary'}) }}

</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
