{% extends "base.html" %}

{% block content %}
<div class="container">
  Job has been submitted successfully!<br />
  <p>
      Sending email notification to: {{ email }}
  </p>
  <p>
      While the job is in progress, intermediate results and logs can be viewed here: <a href="{{ result_url }}">{{ result_url }}</a>
  </p>
  <p>
      Once the job has run to completion you should receive an email notification.<br />
      At this point, the above link will become inactivated.<br /><br />

      List of putative single copy genes and supporting output files (in zip format) can be downloaded from here: <a href="{{ download_url }}">{{ download_url }}</a>
  </p>
  <p>
      If you use MarkerMiner in your research, please cite us:<br /><br />

      Chamala, S., Garcia, N., Godden, G.T., Krishnakumar, V., Jordon-Thaden, I.E.,<br />
      DeSmet, R., Barbazuk, W. B., Soltis, D.E., Soltis, P.S. (2014) <br />
      MarkerMiner 1.0: A new application for phylogenetic marker development <br />
      using angiosperm transcriptomes. <cite><em>Applications in Plant Sciences</em></cite> X: XX-XX
  </p>
</div>
{% endblock %}
